<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
<span class="d-flex justify-content-center">
    <h1 class="display-3">Photo Gallery</h1>
</span>
<div class="photo-gallery">
    <div class="container">
        <div *ngFor="let img of img_paths;" class="row photos">
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../../../assets/img/{{img}}" data-lightbox="photos"><img class="img-fluid" src="../../../assets/img/{{img}}"></a></div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>