<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
<span class="d-flex justify-content-center">
    <h1 class="display-3">Photo Gallery</h1>
</span>
<div class="photo-gallery">
    <div class="card-columns">
            <div class="card" *ngFor="let item of flickerResponse?.photoset.photo">
              <img class="card-img-top" [src]="item.url_o" [alt]="item.title" />
            </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>