<span class="d-flex justify-content-center">
    <h1 class="display-3">2021 Alumni Board of Directors</h1>
</span>
<div class="container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Office</th>
                <th>Initiation Year</th>
                <th>Current Town</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tim Weinstock</td>
                <td>President</td>
                <td>1987</td>
                <td>St. Charles, MO</td>
                <td><a href="mailto:weinstock@msn.com">weinstock@msn.com</a></td>
            </tr>
            <tr>
                <td>Tony Zehnle</td>
                <td>Property Manager</td>
                <td>2005</td>
                <td>St. Louis, MO</td>
                <td><a href="mailto:tony.zehnle@gmail.com">tony.zehnle@gmail.com</a></td>
            </tr>
            <tr>
                <td>Steve Piedimonte</td>
                <td>Co-Treasurer</td>
                <td>2012</td>
                <td>Kansas City, MO</td>
                <td><a href="mailto:steve.piedimonte@gmail.com">steve.piedimonte@gmail.com</a></td>
            </tr>
            <tr>
                <td>Tom Hohenstein</td>
                <td>Legal Advisor</td>
                <td>1979</td>
                <td>St. Louis, MO</td>
                <td><a href="mailto:THohenstein@polsinelli.com">THohenstein@polsinelli.com</a></td>
            </tr>
            <tr>
                <td>Justin Nunn</td>
                <td>Alumni Advisor</td>
                <td>2014</td>
                <td>Columbia, MO</td>
                <td><a href="mailto:jrntg2@gmail.com">jrntg2@gmail.com</a></td>
            </tr>
            <tr>
                <td>Jack Allen</td>
                <td>Recruitment Advisor</td>
                <td>2017</td>
                <td>Kansas City, MO</td>
                <td><a href="mailto:jackykrabs@gmail.com">jackykrabs@gmail.com</a></td>
            </tr>
            <tr>
                <td>Jared Anderson</td>
                <td>General Member</td>
                <td>2010</td>
                <td>Webster Groves, MO</td>
                <td><a href="mailto:Jared.Anderson@safetytnational.com">Jared.Anderson@safetytnational.com</a></td>
            </tr>
            <tr>
                <td>Doug Hick</td>
                <td>General Member</td>
                <td>1983</td>
                <td>Lee's Summit, MO</td>
                <td><a href="mailto:Doug.Hick@southlaw.com">Doug.Hick@southlaw.com</a></td>
            </tr>
            <tr>
                <td>Jake Dyer</td>
                <td>General Member</td>
                <td>2014</td>
                <td>Kansas City, MO</td>
                <td><a href="mailto:dyer.jacob.a@gmail.com">dyer.jacob.a@gmail.com</a></td>
            </tr>
        </tbody>
    </table>
</div>
