<span class="d-flex justify-content-center">
    <h1 class="display-3">Recruitment</h1>
</span>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <span class="d-flex justify-content-center">
                <h4>Chapter House Tour</h4>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="d-flex justify-content-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zUyy46_4WV8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class="d-flex justify-content-center">
                <h4>2019 Recruitment Video</h4>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class="d-flex justify-content-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lOCBRZoxCKE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class='d-flex justify-content-center'>
                <h3>Recruitment Team</h3><br>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/coble.JPG">
                <div class="card-body">
                    <h4 class="card-title">Chris Chandler</h4>
                    <p class="card-text">Senior Recruitment Chair
                        <br><a href="tel:+6365755895">(636) 575 - 5895</a>
                        <br><a href='mailto:cjc7nw@umsystem.com'>cjc7nw@umsystem.com</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%">
                <img class="card-img-top" src="../../../assets/img/exec/benshoff.JPG">
                <div class="card-body">
                    <h4 class="card-title">Jacob Benshoff</h4>
                    <p class="card-text">Junior Recruitment Chair
                        <br><a href="+13148794463">(314) 879 - 4463</a>
                        <br><a href="mailto:jhbkdw@mail.missouri.edu">jhbkdw@mail.missouri.edu</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/Richie.JPG">
                <div class="card-body">
                    <h4 class="card-title">Richie Deutsch</h4>
                    <p class="card-text">Junior Recruitment Chair
                        <br><a href="tel:+13128433456">(312) 843 - 3456</a>
                        <br><a href="richardpdeutsch@gmail.com">richardpdeutsch@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-12">
            <span class='d-flex justify-content-center'>
                <h4>Interest Survey</h4>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class='d-flex justify-content-center'>
                <p>Interested in becoming a brother?  Reach out to any of our recruitment chairs, or fill out the form below, and one of them will be in contact with you shortly!</p>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class="d-flex justify-content-center">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfVDyKJWh95T4ov0Zcm_ydt03mddlC__FrJLuyPGTua21jeTA/viewform?embedded=true" width="700" height="2900" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </span>
        </div>
    </div>
</div> -->
