<span class="d-flex justify-content-center">
    <h1 class="display-3">Recruitment</h1>
</span>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <span class="d-flex justify-content-center">
                <h4>Chapter House Tour</h4>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="d-flex justify-content-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zUyy46_4WV8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class="d-flex justify-content-center">
                <h4>2019 Recruitment Video</h4>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class="d-flex justify-content-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lOCBRZoxCKE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h4>Interest Form</h4>
        </div>
    </div>
    <div>
        <div class="col d-flex justify-content-center">
            <span>Interested in joining the brotherhood or learning more information?  Fill out our interest form below and our recruitment team will be in contact with you.</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeSDliOEWv6tD2Gx3CYR0Y8Q3EcBiNyvAPchGueG0nvVva40Q/viewform?embedded=true" width="800" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class='d-flex justify-content-center'>
                <h3>Recruitment Team</h3><br>
            </span>
        </div>
    </div>
    <div>
        <div class="col d-flex justify-content-center">
            <span>Or, contact any of our recruitment team using the information below.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/benshoff.JPG">
                <div class="card-body">
                    <h4 class="card-title">Jacob Benshoff</h4>
                    <p class="card-text">St. Louis Recruitment Chair
                        <br><a href="tel:+3148794463">(314) 879 - 4463</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 100%">
                <img class="card-img-top" src="../../../assets/img/exec/atkins.JPG">
                <div class="card-body">
                    <h4 class="card-title">Jackson Atkins</h4>
                    <p class="card-text">Kansas City Recruitment Chair
                        <br><a href="+13148794463">(314) 879 - 4463</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/stern2.jpg">
                <div class="card-body">
                    <h4 class="card-title">Gabe Stern</h4>
                    <p class="card-text">Chicago Recruitment Chair
                        <br><a href="tel:+8474069883">(847) 406 - 9883</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/fisher.JPG">
                <div class="card-body">
                    <h4 class="card-title">Fisher Atkins</h4>
                    <p class="card-text">Columbia Recruitment Chair
                        <br><a href="tel:+8166958260">(816) 695 - 8260</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-12">
            <span class='d-flex justify-content-center'>
                <h4>Interest Survey</h4>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class='d-flex justify-content-center'>
                <p>Interested in becoming a brother?  Reach out to any of our recruitment chairs, or fill out the form below, and one of them will be in contact with you shortly!</p>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class="d-flex justify-content-center">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfVDyKJWh95T4ov0Zcm_ydt03mddlC__FrJLuyPGTua21jeTA/viewform?embedded=true" width="700" height="2900" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </span>
        </div>
    </div>
</div> -->
