<span class="d-flex justify-content-center">
    <h1 class="display-3">Recruitment</h1>
</span>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/coble.JPG">
                <div class="card-body">
                    <h4 class="card-title">Matthew Coble</h4>
                    <p class="card-text">Senior Recruitment Chair
                        <br>(816) 853 - 3019
                        <br>mc8gf@umsystem.edu</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/coble.JPG">
                <div class="card-body">
                    <h4 class="card-title">Jordan Bolton</h4>
                    <p class="card-text">Junior Recruitment Chair
                        <br>(314) 960 - 1656
                        <br>jordan.w.bolton@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/coble.JPG">
                <div class="card-body">
                    <h4 class="card-title">Caleb Poorman</h4>
                    <p class="card-text">Junior Recruitment Chair
                        <br>(417) 291-9064
                        <br>Calebpoorman111@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
