<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-sm">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <a class="navbar-brand mr-auto">
      ΒΣΨ
    </a>
  </div>
  <div class="mx-auto order-0">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link text-light" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/recruitment">Recruitment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/exec">Meet The Exec Board</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/alumni">Alumni</a>
        </li>           
        <li class="nav-item">
          <a class="nav-link text-light" href="/gallery">Gallery</a>
        </li>        
      </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
  </div>
</nav>
<span class="d-flex justify-content-center">
  <img src="../../../assets/img/crest.png" id="crest">
</span>



<router-outlet></router-outlet>
<div class="footer container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <p>Beta Sigma Psi, the National Lutheran College Fraternity, was founded in 1925 with the purpose of providing an environment in which the Lutheran college man can grow Spiritually, Scholastically, and Socially. Since 1962, Iota Chapter of Beta Sigma Psi has been home to more than 700 students of the University of Missouri.</p>

      <p>&#169; Beta Sigma Psi 2021</p>
    </div>
    <div class="col-sm-6">
      <a href="https://goo.gl/maps/EhX9y8yQriM2" class="text-light" style="text-align: center;">
        <p><u>Beta Sigma Psi</u></p>
        <p><u>206 South College Avenue</u></p>
        <p><u>Columbia, Missouri</u></p>
        <p><u>65201</u></p>
      </a>
    </div>
  </div>
</div>