nav {
    background-color: #D32927;
}

#crest {
    height: 125px;
    width: 125px;
    margin-top: 5px;
}
.navbar-brand {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    color: white;
}
li {
    white-space: nowrap;
}
.footer {
    background-color: #D32927;
    color: white;
    margin-top: 10px;
}