<span class="d-flex justify-content-center">
    <h1 class="display-3">Who We Are</h1>
</span>
<div class="container">
    <div class="row national-hist">
        <div class="col-sm-4"><img style='width:100%;' src="../../../assets/img/nationalfathers.jpeg"></div>
        <div class="col-sm-8">
            <h3>National History</h3>
            <p>Beta Sigma Psi was founded as a national fraternity for Lutheran male students on April 17, 1925. The Fraternity had its origins for students at the University of Illinois and has since spread across the United States, primarily to schools in the mid-west United States.
            </p>
            <p>The Rev. Frederick William Gustav Stiegemeyer, the son of a pastor, was born on January 16, 1878, in a parsonage in Dubuque, Iowa. In 1911, he accepted a call to St. John’s Evangelical Lutheran Church in Champaign, Illinois. As part of his ministry, he was to serve the students at the University of Illinois. In the fall of 1919, he organized the Lutheran Illini League with a combination of ten students. At that time their intentions were to do no more than meet once or twice a week for religious instruction and discussion on contemporary issues. In the fall of 1920, now with twenty members, the Lutheran Illini League rented a house, and in early 1921 was reorganized as the Concordia Club.
            </p>
            <p>By 1923 the group regularly participated in campus activities; so much so that they began being referred to as the “Concordia Fraternity.” This was the spark that encouraged some of the members to give serious thought to once again reorganizing the organization and making it part of the university’s fraternity system. Meetings were held, and plans were laid to organize as a new national fraternity.
            Those men who worked on these plans were convinced that they would create a National fraternity that would maintain all the noble aspirations of the early Concordia Club founders.
            These men, considered the founding fathers of Beta Sigma Psi, decided to act in the spring of 1925. Incorporation papers were filed for Beta Sigma Psi National Fraternity on April 17, 1925, in Springfield, Illinois.
            </p>
        </div>
    </div>
    <div class="row local-hist">
        <div class="col-sm-8">
            <h3>Iota Chapter History</h3>
            <p>On December 8th, 1962, the Iota Chapter of Beta Sigma Psi was officially chartered at the University of Missouri, Columbia.  </p>
            <p>On December 2nd, 2018, the famous 'Hay-Gate' incident occured at the Beta Sigma Psi chapter house, under the leadership of then president Michael Van Schoik.  Van Schoik famously ratted the house to the University, which 
                started a long road of both national and university sanctions, which directly hindered the chapter's rawness.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="../../../assets/img/iotafathers.jpg" style="width: 100%;">
        </div>
    </div>
    <div class="row today">
        <div class="col-sm-4">
            <img src="../../../assets/img/guys.jpg" style="width: 100%;">
        </div>
        <div class="col-sm-8">
            <h3>The Iota Chapter Today</h3>
            <p>Parker write stuff for here</p>
        </div>
    </div>
    <div class="row strat-plan">
        <div class="col-sm-8">
            <h3>Strategic Plan</h3>
            <p>Stuff about strategic plan goes here</p>
        </div>
        <div class="col-sm-4"><img src="../../../assets/img/house.jpg" style="width: 100%;"></div>
    </div>
</div>
