<span class="d-flex justify-content-center">
    <h1 class="display-3">Who We Are</h1>
</span>
<div class="container">
    <div class="row national-hist">
        <div class="col-sm-4"><img style='width:100%;' src="../../../assets/img/nationalfathers.jpeg"></div>
        <div class="col-sm-8">
            <h3>National History</h3>
            <p>Beta Sigma Psi was founded as a national fraternity for Lutheran male students on April 17, 1925. The Fraternity had its origins for students at the University of Illinois and has since spread across the United States, primarily to schools in the mid-west United States.
            </p>
            <p>The Rev. Frederick William Gustav Stiegemeyer, the son of a pastor, was born on January 16, 1878, in a parsonage in Dubuque, Iowa. In 1911, he accepted a call to St. John’s Evangelical Lutheran Church in Champaign, Illinois. As part of his ministry, he was to serve the students at the University of Illinois. In the fall of 1919, he organized the Lutheran Illini League with a combination of ten students. At that time their intentions were to do no more than meet once or twice a week for religious instruction and discussion on contemporary issues. In the fall of 1920, now with twenty members, the Lutheran Illini League rented a house, and in early 1921 was reorganized as the Concordia Club.
            </p>
            <p>By 1923 the group regularly participated in campus activities; so much so that they began being referred to as the “Concordia Fraternity.” This was the spark that encouraged some of the members to give serious thought to once again reorganizing the organization and making it part of the university’s fraternity system. Meetings were held, and plans were laid to organize as a new national fraternity.
            Those men who worked on these plans were convinced that they would create a National fraternity that would maintain all the noble aspirations of the early Concordia Club founders.
            These men, considered the founding fathers of Beta Sigma Psi, decided to act in the spring of 1925. Incorporation papers were filed for Beta Sigma Psi National Fraternity on April 17, 1925, in Springfield, Illinois.
            </p>
        </div>
    </div>
    <div class="row local-hist">
        <div class="col-sm-8">
            <h3>Iota Chapter History</h3>
            <p>Iota History Coming Soon!</p>
        </div>
        <div class="col-sm-4">
            <img src="../../../assets/img/iotafathers.jpg" style="width: 100%;">
        </div>
    </div>
    <div class="row today">
        <div class="col-sm-4">
            <img src="../../../assets/img/guys.jpg" style="width: 100%;">
        </div>
        <div class="col-sm-8">
            <h3>The Iota Chapter Today</h3>
            <p>The Iota Chapter of Beta Sigma Psi is set up for a bright future. The current board of leadership, spearheaded by president Jackson Atkins, are committed to giving this house their all and have already proven that they will take this house to new heights. In addition, major renovations set to break ground in 2022 will completely upgrade the house that we have called home for decades, and actives and alumni alike are eager to see a final product that has been in the works for years. All the while, our men continue to excel in all that they do academically, athletically, and in extracurriculars. Our values that have guided us for 50+ years are stronger than ever, and the brotherhood continues to grow.</p>
        </div>
    </div>
    <div class="row strat-plan">
        <div class="col-sm-8">
            <h3>Strategic Plan</h3>
            <h4>Our Vision</h4>
            <p>To be a distinguished fraternity in Mizzou’s Greek Community, which takes pride in our values, our positive culture, and our influences on our members, through Christian spirituality, scholarship, campus leadership and the development of lifelong relationships.
            </p>
            <h4>Our Strategic Plan: The Four S's</h4>
            <p>Since our Fraternity’s inception in 1925, Beta Sigma Psi has broadly categorized its values under the Three S’s: Spiritual, Scholastic, and Social.  The Iota Chapter’s Strategic Plan is based on those, with a fourth S for “Sustainment” added to reflect how we uphold our Fraternity’s core values, while healthfully “Sustaining” our Chapter through its Active membership, Alumni involvement, and fiscal responsibility.</p>
        </div>
        <div class="col-sm-4"><img src="../../../assets/img/house.jpg" style="width: 100%;"></div>
    </div>
</div>
