h1 {
    text-align: center;
}
#crest {
    height: 125px;
    width: 125px;
    margin-top: 5px;
}
.col-sm-4, .col-sm-2 {
    text-align: center;
}
.border {
    margin: 5px;
}
#about {
    background-color: #D32927;
}
.row {
    margin-top:5px;
}
.icon {
    width: 85px;
    height: 80px;
    color: rgba(255,255,255,1)
}