<span class="d-flex justify-content-center">
    <h1 class="display-3">Spring 2021 Executive Board</h1>
</span>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <span class="d-flex justify-content-center" style="width:100%;">
                <img src="../../../assets/img/exec/exec.JPG" class="img-fluid">
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/atkins.JPG">
                <div class="card-body">
                    <h3 class="card-title">Jackson Atkins</h3>
                    <h4 class="card-title">President</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '19</p>
                    <p class="card-text"><b>Year in School: </b>Sophomore</p>
                    <p class="card-text"><b>Major: </b>Computer Science</p>
                    <p class="card-text"><b>Hometown: </b>Lee's Summit, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Duck Hunting, Robotics</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/barbosa.JPG">
                <div class="card-body">
                    <h3 class="card-title">Dominic Barbosa</h3>
                    <h4 class="card-title">Vice President - New Member Education</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '19</p>
                    <p class="card-text"><b>Year in School: </b>Sophomore</p>
                    <p class="card-text"><b>Major: </b>Business Administration, Theater</p>
                    <p class="card-text"><b>Hometown: </b>Wentzville, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Theater, Acting</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/voss.JPG">
                <div class="card-body">
                    <h3 class="card-title">Justus Voss</h3>
                    <h4 class="card-title">Vice President - House Management</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '20</p>
                    <p class="card-text"><b>Year in School: </b>Sophomore</p>
                    <p class="card-text"><b>Major: </b>Philosophy</p>
                    <p class="card-text"><b>Hometown: </b>Wentzville, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Chiefs Football</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/coble.JPG">
                <div class="card-body">
                    <h3 class="card-title">Tyler Bradley</h3>
                    <h4 class="card-title">Treasurer</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '18</p>
                    <p class="card-text"><b>Year in School: </b>Junior</p>
                    <p class="card-text"><b>Major: </b>Civil Engineering</p>
                    <p class="card-text"><b>Hometown: </b>Fort Collins, CO</p>
                    <p class="card-text"><b>Hobbies: </b>Making Music</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/coble.JPG">
                <div class="card-body">
                    <h3 class="card-title">Matthew Coble</h3>
                    <h4 class="card-title">Senior Recruitment Chair</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '19</p>
                    <p class="card-text"><b>Year in School: </b>Sophomore</p>
                    <p class="card-text"><b>Major: </b>Electrical Engineering</p>
                    <p class="card-text"><b>Hometown: </b>Kansas City, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Playing with his dog, Charlie</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/coble.JPG">
                <div class="card-body">
                    <h3 class="card-title">Jordan Bolton</h3>
                    <h4 class="card-title">Junior Recruitment Chair</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '18</p>
                    <p class="card-text"><b>Year in School: </b>Senior</p>
                    <p class="card-text"><b>Major: </b>English</p>
                    <p class="card-text"><b>Hometown: </b>St. Louis, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Weight Training, Fishing</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/poorman.JPG">
                <div class="card-body">
                    <h3 class="card-title">Caleb Poorman</h3>
                    <h4 class="card-title">Junior Recruitment Chair</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '20</p>
                    <p class="card-text"><b>Year in School: </b>Freshman</p>
                    <p class="card-text"><b>Major: </b>Pre Med/Biology</p>
                    <p class="card-text"><b>Hometown: </b>Carl's Junction, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Photography</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/couch.JPG">
                <div class="card-body">
                    <h3 class="card-title">Mason Couch</h3>
                    <h4 class="card-title">Scholarship Chair</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '19</p>
                    <p class="card-text"><b>Year in School: </b>Junior</p>
                    <p class="card-text"><b>Major: </b>Business</p>
                    <p class="card-text"><b>Hometown: </b>St. Louis, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Basketball</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/reiher.JPG">
                <div class="card-body">
                    <h3 class="card-title">Will Reiher</h3>
                    <h4 class="card-title">Risk Manager</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '18</p>
                    <p class="card-text"><b>Year in School: </b>Junior</p>
                    <p class="card-text"><b>Major: </b>Strat Comm/Economics</p>
                    <p class="card-text"><b>Hometown: </b>Johnston, Iowa</p>
                    <p class="card-text"><b>Hobbies: </b>Driving Trucks</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/gilliam.JPG">
                <div class="card-body">
                    <h3 class="card-title">Parker Gilliam</h3>
                    <h4 class="card-title">Public Relations Chair</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '20</p>
                    <p class="card-text"><b>Year in School: </b>Freshman</p>
                    <p class="card-text"><b>Major: </b>Journalism</p>
                    <p class="card-text"><b>Hometown: </b>Atlanta, GA</p>
                    <p class="card-text"><b>Hobbies: </b>Basketball, Reading, Watching College Football</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/calder.JPG">
                <div class="card-body">
                    <h3 class="card-title">Zach Calder</h3>
                    <h4 class="card-title">Secretary</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '20</p>
                    <p class="card-text"><b>Year in School: </b>Freshman</p>
                    <p class="card-text"><b>Major: </b>Journalism</p>
                    <p class="card-text"><b>Hometown: </b>Lee's Summit, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Chiefs Football</p>
                </div>
            </div>
        </div>
    </div>
</div>

