<span class="d-flex justify-content-center">
    <h1 class="display-3">Fall 2022 Executive Board</h1>
</span>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <span class="d-flex justify-content-center" style="width:100%;">
                <img src="../../../assets/img/exec/group.JPG" class="img-fluid">
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 d-flex">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/parker.JPG">
                <div class="card-body">
                    <h3 class="card-title">Parker Giliam</h3>
                    <h4 class="card-title">President</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '20</p>
                    <p class="card-text"><b>Year in School: </b>Junior</p>
                    <p class="card-text"><b>Major: </b>Journalism</p>
                    <p class="card-text"><b>Hometown: </b>Alpharetta, GA</p>
                    <p class="card-text"><b>Hobbies: </b>Basketball, Reading, Watching College Football</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/poorman.JPG">
                <div class="card-body">
                    <h3 class="card-title">Caleb Poorman</h3>
                    <h4 class="card-title">Vice President - New Member Education</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '20</p>
                    <p class="card-text"><b>Year in School: </b>Junior</p>
                    <p class="card-text"><b>Major: </b>Pre-med</p>
                    <p class="card-text"><b>Hometown: </b>Joplin, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Photography, Making Music</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/ely.png">
                <div class="card-body">
                    <h3 class="card-title">Sam Ealy</h3>
                    <h4 class="card-title">Vice President - House Management</h4>
                    <p class="card-text"><b>Pledge Class: </b>Spring '22</p>
                    <p class="card-text"><b>Year in School: </b>Junior</p>
                    <p class="card-text"><b>Major: </b>Electrical Engineering</p>
                    <p class="card-text"><b>Hometown: </b>Independence, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Hiking, Biking, Guitar</p>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/palotoni.jpg">
                <div class="card-body">
                    <h3 class="card-title">Frank Pantoni</h3>
                    <h4 class="card-title">Secretary</h4>
                    <p class="card-text"><b>Pledge Class: </b>Spring '22</p>
                    <p class="card-text"><b>Year in School: </b>Junior</p>
                    <p class="card-text"><b>Major:</b> Business Management</p>
                    <p class="card-text"><b>Hometown: </b>Darien, IL</p>
                    <p class="card-text"><b>Hobbies: </b>Working Out, Meditation, Video Games</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/benshoff.JPG">
                <div class="card-body">
                    <h3 class="card-title">Jacob Benshoff</h3>
                    <h4 class="card-title">St. Louis Recruitment Chair</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '21</p>
                    <p class="card-text"><b>Year in School: </b>Senior</p>
                    <p class="card-text"><b>Major: </b>Political Science</p>
                    <p class="card-text"><b>Hometown: </b>St.Louis, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Fitness</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/fisher.JPG">
                <div class="card-body">
                    <h3 class="card-title">Fisher Atkins</h3>
                    <h4 class="card-title">Columbia Recruitment Chair</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '21</p>
                    <p class="card-text"><b>Year in School: </b>Sophomore</p>
                    <p class="card-text"><b>Major: </b>Mechanical Engineering</p>
                    <p class="card-text"><b>Hometown: </b>Greenwood, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Hunting, Fishing</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/atkins.JPG">
                <div class="card-body">
                    <h3 class="card-title">Jackson Atkins</h3>
                    <h4 class="card-title">Kansas City Recruitment Chair</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '19</p>
                    <p class="card-text"><b>Year in School: </b>Senior</p>
                    <p class="card-text"><b>Major: </b>Computer Science</p>
                    <p class="card-text"><b>Hometown: </b>Kansas City, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Fitness</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/stern2.jpg">
                <div class="card-body">
                    <h3 class="card-title">Gabe Stern</h3>
                    <h4 class="card-title">Chicago Recruitment Chair</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '21</p>
                    <p class="card-text"><b>Year in School: </b>Sophomore</p>
                    <p class="card-text"><b>Major: </b>Strategic Communications</p>
                    <p class="card-text"><b>Hometown: </b>Chicago, IL</p>
                    <p class="card-text"><b>Hobbies: </b>fMMA, Weightlifting, Biking, Hiking</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/Richie.JPG">
                <div class="card-body">
                    <h3 class="card-title">Richie Deustch</h3>
                    <h4 class="card-title">Public Relations Chair</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '20</p>
                    <p class="card-text"><b>Year in School: </b>Junior</p>
                    <p class="card-text"><b>Major: </b>Journalism</p>
                    <p class="card-text"><b>Hometown: </b>Chicago, IL</p>
                    <p class="card-text"><b>Hobbies: </b>Soccer, Baseball</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/john.JPG">
                <div class="card-body">
                    <h3 class="card-title">John Murphy</h3>
                    <h4 class="card-title">Scholarship Chair</h4>
                    <p class="card-text"><b>Pledge Class: </b>Spring '21</p>
                    <p class="card-text"><b>Year in School: </b>Junior</p>
                    <p class="card-text"><b>Major: </b>Political Science</p>
                    <p class="card-text"><b>Hometown: </b>Independence, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Writing</p>
                </div>
            </div>
        </div>
    </div>
</div>

