<span class="d-flex justify-content-center">
    <h1 class="display-3">Spring 2021 Executive Board</h1>
</span>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <span class="d-flex justify-content-center" style="width:100%;">
                <img src="../../../assets/img/exec/group.JPG" class="img-fluid">
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/gilliam.JPG">
                <div class="card-body">
                    <h3 class="card-title">Parker Giliam</h3>
                    <h4 class="card-title">President</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '20</p>
                    <p class="card-text"><b>Year in School: </b>Sophomore</p>
                    <p class="card-text"><b>Major: </b>Journalism</p>
                    <p class="card-text"><b>Hometown: </b>Alpharetta, GA</p>
                    <p class="card-text"><b>Hobbies: </b>Basketball, Reading, Watching College Football</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/calder.JPG">
                <div class="card-body">
                    <h3 class="card-title">Zach Calder</h3>
                    <h4 class="card-title">Vice President - New Member Education</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '20</p>
                    <p class="card-text"><b>Year in School: </b>Sophomore</p>
                    <p class="card-text"><b>Major: </b>Journalism</p>
                    <p class="card-text"><b>Hometown: </b>Wentzville, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Theater, Acting</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/john.JPG">
                <div class="card-body">
                    <h3 class="card-title">John Murphy</h3>
                    <h4 class="card-title">Vice President - House Management</h4>
                    <p class="card-text"><b>Pledge Class: </b>Spring '21</p>
                    <p class="card-text"><b>Year in School: </b>Sophomore</p>
                    <p class="card-text"><b>Major: </b>Political Science</p>
                    <p class="card-text"><b>Hometown: </b>Independence, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Writing</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/barela2.JPG">
                <div class="card-body">
                    <h3 class="card-title">Jacob Barela</h3>
                    <h4 class="card-title">Secretary</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '20</p>
                    <p class="card-text"><b>Year in School: </b>Sophomore</p>
                    <p class="card-text"><b>Major: </b>Pre-Med</p>
                    <p class="card-text"><b>Hometown: </b>Carlsbad, CA</p>
                    <p class="card-text"><b>Hobbies: </b>Fitness</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/Richie.JPG">
                <div class="card-body">
                    <h3 class="card-title">Richard Deutsch</h3>
                    <h4 class="card-title">Junior Recruitment Chair</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '20</p>
                    <p class="card-text"><b>Year in School: </b>Sophomore</p>
                    <p class="card-text"><b>Major: </b>Journalism</p>
                    <p class="card-text"><b>Hometown: </b>Chicago, IL</p>
                    <p class="card-text"><b>Hobbies: </b>Soccer and baseball</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/benshoff.JPG\">
                <div class="card-body">
                    <h3 class="card-title">Jacob Benshof</h3>
                    <h4 class="card-title">Junior Recruitment Chair</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '21</p>
                    <p class="card-text"><b>Year in School: </b>Junior</p>
                    <p class="card-text"><b>Major: </b>Political Science</p>
                    <p class="card-text"><b>Hometown: </b>St.Louis, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Fitness</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/justus.JPG">
                <div class="card-body">
                    <h3 class="card-title">Justus Voss</h3>
                    <h4 class="card-title">Scholarship Chair</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '20</p>
                    <p class="card-text"><b>Year in School: </b>Junior</p>
                    <p class="card-text"><b>Major: </b>Political Science</p>
                    <p class="card-text"><b>Hometown: </b>Maryville, MO</p>
                    <p class="card-text"><b>Hobbies: </b>College Football</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/fisher.JPG">
                <div class="card-body">
                    <h3 class="card-title">Fisher Atkins</h3>
                    <h4 class="card-title">Risk Manager</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '21</p>
                    <p class="card-text"><b>Year in School: </b>Freshman</p>
                    <p class="card-text"><b>Major: </b>Mechanical Engineering</p>
                    <p class="card-text"><b>Hometown: </b>Greenwood, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Hunting and Fishing</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/img/exec/caleb2.JPG">
                <div class="card-body">
                    <h3 class="card-title">Caleb Poorman</h3>
                    <h4 class="card-title">Public Relations Chair</h4>
                    <p class="card-text"><b>Pledge Class: </b>Fall '20</p>
                    <p class="card-text"><b>Year in School: </b>Sophomore</p>
                    <p class="card-text"><b>Major: </b>Pre-med</p>
                    <p class="card-text"><b>Hometown: </b>Joplin, MO</p>
                    <p class="card-text"><b>Hobbies: </b>Photography and making music</p>
                </div>
            </div>
        </div>
    </div>
</div>

