<span class="d-flex justify-content-center">
    <h1 class="display-3">President's Corner</h1>
</span>
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <span class="d-flex justify-content-center">
                <img src="../../assets/img/exec/parker.JPG" class="img-fluid">
            </span>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="d-flex justify-content-center">Parker Gilliam</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="d-flex justify-content-center">Active Chapter President</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            Spring 2022. What a ride it has been up to this point. 
            I pledged Beta Sig's Iota chapter in the fall of 2020 amidst times of chaos in the world, 
            and doing so provided me with a place to call home. Now, following a semester where we made trips to Kansas City and Chicago,
            participated in Homecoming, achieved our highest semester GPA since I have been a member, had brothers in the 
            Faurot Field press box and on the rugby field, we move on to the spring semester. We are excited to welcome a new class of Beta Sigs, 
            and encourage anybody interested in becoming a part of the chapter to contact any of our rush chairs. With major chapter house 
            renovations coming just around the corner, Greek Week in just a couple of weeks, and plenty of events to come, there is no better 
            time to be a Beta Sig.
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 d-flex justify-content-end">
            <img src="../../assets/img/parker-signature.png" style="max-width: 200px;">
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 d-flex justify-content-end">
            Parker Gilliam
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>