<span class="d-flex justify-content-center">
    <h1 class="display-3">President's Corner</h1>
</span>
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <span class="d-flex justify-content-center">
                <img src="../../assets/img/exec/parker.JPG" class="img-fluid">
            </span>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="d-flex justify-content-center">Parker Gilliam</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="d-flex justify-content-center">Active Chapter President</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            Fall 2022. Two years in college have flown by for me, in large part because of the experiences I've had with Beta Sig. The spring was no exception, as we participated in Greek Week with the men of Delta Chi and women of Zeta Tau Alpha, ventured to South Padre Island for spring break, welcomed new brothers into the chapter, held a wonderful mom's weekend, and so much more. Now, we look towards a fall that is sure to be exciting and busy. With homecoming, football season, dad's weekend, and plenty of other events to come this semester, there is a lot to look forward to at Beta Sig. If you or someone you know is interested in joining our chapter, please reach out to one of our rush chairs or fill out the rush form on this site. As always, Per Aspera Ad Astra.
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 d-flex justify-content-end">
            <img src="../../assets/img/parker-signature.png" style="max-width: 200px;">
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 d-flex justify-content-end">
            Parker Gilliam
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>